html {
  font-family: Arial;
  background: linear-gradient(45deg,LightYellow,Linen,LightCyan);
  padding: 1rem;
}

body {
  max-width: 780px;
  margin: auto;
  border-radius: 15px;
  border: 2px double darkslategray;
  background: mintcream;
  padding: 1rem;
}

h1, h2, h3 {
  font-family: Calibri;
  color: darkslategray;
  margin: 1rem 1rem;
}

a {
  color: darkslategray;
  text-decoration: none;
}

a:hover {
    color: black;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightblue;
  opacity: 0.5;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: -1rem -1rem 1rem -1rem;
}

.nav-item {
    margin: 1rem auto;
}

.problem{
    margin: auto;
    font-family: Arial;
    font-weight:bold;
}

input[type=text] {
    border:none;
    font-family: Arial;
    font-weight:bold;
    margin: 3px;
}

input[type=submit] {
  align: left;
  min-width: 10em;
  background: lavender;
  border-radius: 5px;
  font-weight:bold;
  font-family: Calibri;
  color: darkslategray;
  margin: 1em 1em;
}
