html {
  font-family: sans-serif;
  background: SteelBlue;
  padding: 1rem;
}

body {
  max-width: 780px;
  margin: auto;
  border-radius: 15px;
  border: 2px solid darkslategray;
  background: mintcream;
  padding: 1rem;
}

h1, h2, h3 {
  font-family: Verdana;
  color: darkslategray;
  margin: 1rem 1rem;
}

a {
  color: darkslategray;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightblue;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: -1rem -1rem 1rem -1rem;
}

.nav-item {
    margin: 0 auto;
}

input[type=submit] {
  align: left;
  min-width: 10em;
  background: lavender;
  border-radius: 5px;
  font-weight:bold;
  margin: 1em 1em;
}
