html {
  font-family: sans-serif;
  background: SteelBlue;
  padding: 1rem;
}

body {
  max-width: 780px;
  margin: 0 auto;
  border-radius: 15px;
  border: 2px solid darkslategray;
  background: mintcream;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: darkslategray;
  margin: 1rem 0;
}

a {
  color: darkslategray;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightblue;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}



input[type=submit] {
  align-self: start;
  min-width: 10em;
  background: lavender;
  border-radius: 5px;
  font-weight:bold;
  margin-top: 1em;
}
